<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COD3R</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/cadastro.css">

</head>
<body>
    
    <header class="cabecalho">
        <div class="logo">
            <a href="file:///C:/Users/teta1/Desktop/repositorio/site/inicio.html">
                <img src="http://files.cod3r.com.br/curso-web/logo.png" alt="Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="http://localhost:3003">Início</a></li>
                <li><a href="http://localhost:3003/cursos">Cursos</a></li>
                <li><a href="http://localhost:3003/contato">Contato</a></li>
            </ul>
        </nav>
        <nav class="autenticacao">
            <ul>
                <li><a href="http://localhost:3003/login">Login</a></li>
                <li><a href="http://localhost:3003/registrar">Registrar</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <form method="post">
            <label for="cadastro">Cadastro:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu E-mail" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            
            <input type="submit"  value="cadastrar">
        </form> 
    </div>
</body>
</html>
