<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COD3R</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/contato.css">
    <style>
    </style>
</head>
<body>
    
    <header class="cabecalho">
        <div class="logo">
            <a href="file:///C:/Users/teta1/Desktop/repositorio/site/inicio.html">
                <img src="http://files.cod3r.com.br/curso-web/logo.png" alt="Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="http://localhost:3003">Início</a></li>
                <li><a href="http://localhost:3003/cursos">Cursos</a></li>
                <li><a href="http://localhost:3003/contato">Contato</a></li>
            </ul>
        </nav>
        <nav class="autenticacao">
            <ul>
                <li><a href="http://localhost:3003/login">Login</a></li>
                <li><a href="http://localhost:3003/registrar">Registrar</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="whatsapp">
        <a href="https://web.whatsapp.com/" title="abrir whatsapp">
        <img src="../public/imagens/WhatsApp-png.parspng.com-16-1024x1024.png" alt=""
        width="200" height="200"
        >
        </a>
    </div>
    <div class="instagram">
        <a href="https://instagram.com/" title="abrir instagram">
        <img src="../public/imagens/white-instagram-logo-black-and-white-icon--14.png" alt=""
        width="200" height="200"
        >
        </a>
    </div>
    <script>

    //irá pegar o token do cookie
function getCookie(cname) {
    let name = cname + "=";

    //irá ler e decodificar os cookies
    let decodedCookie = decodeURIComponent(document.cookie);

    //cria uma array de cookies 
    let ca = decodedCookie.split(';');

    for(let i = 0; i <ca.length; i++) {
      let c = ca[i];

    //verifica se o primeiro caractere do cookie é um espaço e já o remove
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }

    //verifica a posição do cookie que tem o mesmo nome
      if (c.indexOf(name) == 0) {

    //remove o nome e mantém só o valor
        return c.substring(name.length, c.length);
      }
    }

    //se nenhum cookie for encontrado irá retornar uma string vazia
    return "";
}

function checkCookie() {
    //usa a função getCookie para verificar se existe ou não o token
    let verifyAutentication = getCookie("tokenAutentication");

    //se existir token os botões de login e rigistro irão sumir
    if (verifyAutentication != "") {
    let div = document.querySelector(".autenticacao")
    div.style.display = "none"
  }

}    

checkCookie()
    </script>
</body>
</html>
