<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COD3R</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/login.css">

</head>
<body>
    
    <header class="cabecalho">
        <div class="logo">
            <a href="file:///C:/Users/teta1/Desktop/repositorio/site/inicio.html">
                <img src="http://files.cod3r.com.br/curso-web/logo.png" alt="Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="http://localhost:3003">Início</a></li>
                <li><a href="http://localhost:3003/cursos">Cursos</a></li>
                <li><a href="http://localhost:3003/contato">Contato</a></li>
            </ul>
        </nav>
        <nav class="autenticacao" id = "authMenu">
            <ul>
                <li><a href="http://localhost:3003/login">Login</a></li>
                <li><a href="http://localhost:3003/registrar">Registrar</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container" >
        <form action="/login" id = "loginForm">
            <label for="email">Usuário:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu usuário" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            <input type="submit" name="acao" value="Logar">
        </form> 
        <div id="errorRequired" class="hidden"></div>
    </div>

</body>
    <script>
        //recebe informações do formulário
    const loginForm = document.getElementById("loginForm"); 
    const errorDiv = document.getElementById("errorRequired");

        //addEventListener fará que seja executado só após o submite
    loginForm.addEventListener("submit", async (event) => {
        event.preventDefault(); // Impede o envio padrão do formulário        

        //pegará o que foi digitado pelo usuário
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    try {

        //passará as informações do front pro back end
        const response = await fetch("/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email, password }),
        });

        if (!response.ok) {
            const data = await response.json();

        //irá passar o erro do servidor para a div
            errorDiv.textContent = data.error || "Erro ao processar o login. Tente novamente.";

        //irá remover o hidden que está fazendo o erro não aparecer
            errorDiv.classList.remove("hidden");

        } else {
        //se não houver erros irá direcionar para a pagina inicial e mandar o token para o cookie
            const data = await response.json()
            document.cookie = `tokenAutentication=${data.tokenAutentication}; path=/; max-age=${60 * 60}`
            window.location.href = "/";
        }

        //caso acha algum outro e sai do try o catch será chamado
    } catch (error) {
        console.error("Erro no login:", error);
        errorDiv.textContent = "Erro inesperado. Tente novamente.";
        errorDiv.classList.remove("hidden");
    }
    });


    
    </script>
</html>
